<%- include('partials/heade.ejs') %>

    <body>

        <div class="container">
            <br>
            <div class="title text-center">
                
                <h1>HOME FLIX</h1>
            </div>
            <br>
            <div class="form">
                <div class="form-config">
                    <form action="" method="post">
                        <label for="">Digite seu email</label>
                        <div><input type="email" class="btn btn-light" name="" id="" placeholder="Digite seu email">
                        </div><br>
                        <label for="">Digite sua senha</label>
                        <div><input type="password" class="btn btn-light" name="" id="" placeholder="Digite sua senha">
                        </div>
                        <p><a href="cadastro">Criar Cadastro</a></p>
                        <div><input type="submit" class="btn btn-success" name="" id="" value="Acessar"></div>
                    </form>

                </div>
            </div>
        </div>


    </body>
    <%- include('partials/footer.ejs') %>