body{
    background-color: black;
}

h1{
    color: chocolate;
}

.form{
    width: 40%;
    height: 400px;
    background-color:rgba(255, 255, 255, 0.205);
    margin: 0 auto;
    text-align: center;
    border-radius: 7px;
    padding-top: 60px;
      
}


.form-config a{
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
}

.form-config form input[type="password"], input[type="email"]{
    width: 80%;
    height: 50px;
    border: 2px solid rgba(73, 73, 73, 0.281);
    border-radius: 7px;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    color:rgba(73, 73, 73, 0.6);
}

.form-config form input[type="submit"]{
    width: 40%;
    height: 40;
}

.form-config label{
    font-weight: bold;
    color: white;
    margin-bottom: 5px;

}