<%- include('../partials/heade.ejs') %>

    <body>
        
      <%- include('../partials/navbar.ejs') %>

                    
          <div class="categoria">
              h1>Filmes</h1>
            
          </div>

          <div class="text-center">

            <video width="70%" height="70%" controls>
                <source src="/video/Homem de Ferro 3.mp4" type="video/mp4">
            </video>
          </div>
         </div>
    
      <br>
      
    </body>
    <%- include('../partials/footer.ejs') %>