<%- include('../partials/heade.ejs') %>

  <body>

    <%- include('../partials/navbar.ejs') %>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/mulan-disney-plus-profil.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/thumb-1920-1065658.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/rei.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <br>


      <div class="categoria">
        <h1>Filmes</h1> <a href="/HomeFlix/views/page/filmes.ejs"></a>

      </div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/ferro"><img src="/img/ferro.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/ferro.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/ferro.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/ferro.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/ferro.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/ferro.jpg" class="card-img-top" alt="...">

          </div>
        </div>
      </div>
      <div class="categoria"><a href="/filmes">
          <h5>Veja mais</h5>
          <br>

      </div>

      <br>



      <div class="categoria">
        <h1>Séries</h1> <a href="/HomeFlix/views/page/series.ejs"></a>
      </div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
      </div>
      <div class="categoria"><a href="/series">
          <h5>Veja mais</h5>
          <br>
      </div>


      <br>




      <div class="categoria">
        <h1>Documentários</h1> <a href="/documentarios"></a>
      </div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

          </div>
        </div>
      </div>
      <div class="categoria"><a href="/documentarios">
          <h5>Veja mais</h5>
          <br>
      </div>



  </body>
  <%- include('../partials/footer.ejs') %>