<%- include('../partials/heade.ejs') %>

  <body>

    <%- include('../partials/navbar.ejs') %>


      
        <div class="categoria">
          <br>
          <h1>Séries</h1>
          <br>
        </div>

        <div class="row row-cols-1 row-cols-md-6 g-4">
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>

          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>

          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>

          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="/img/cartaz2.jpg" class="card-img-top" alt="...">

            </div>
          </div>


        </div>
        
      
      <br>


  </body>
  <%- include('../partials/footer.ejs') %>